:root {
  --main-color-1: #e7335d;
  --main-color-2: #ec578a;
  --main-color-3: #ae2334;
}

.activity .iconworks::before {
  content: attr(data-icon);
  font-family: icon-worksregular;
}

.activity .card ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.activity .card {
  width: 100%;
  box-sizing: border-box;
  margin: 25px 0;
  padding: 20px;
  background-color: #fdfdfd;
}

.activity .card .iconworks::before {
  display: block;
  width: fit-content;
  margin: 10px auto 0;
  font-size: 48px;
}

.activity .card .iconworks::before {
  color: var(--main-color-1);
}

.activity .card h2 {
  display: block;
  width: fit-content;
  margin: 10px auto 30px;
  font-size: 28px;
  font-weight: 400;
}

.activity .card h2 {
  border-bottom: 2px solid var(--main-color-1);
}

.activity .card h3 {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 400;
}

.activity .card li {
  width: 100%;
  box-sizing: border-box;
  margin: 15px 0;
  padding: 10px;
  background-color: #f8f8f8;
  filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.25));
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.activity .card ul li:last-of-type {
  margin: 0;
}

.activity .card li {
  border-left: 8px solid var(--main-color-1);
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  padding-top: 6rem;
  overscroll-behavior: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

h4 {
  margin-top: 0.5em;
}

a.anchor {
  display: block;
  padding-top: 50px;
  margin-top: -50px;
}

.google-maps {
  position: relative;
  padding-bottom: 75%;
  margin-bottom: 1rem;
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.no-border {
  border: none;
}

.no-border img {
  border-radius: 0;
}

.no-border p:last-child {
  margin-bottom: 0;
}

#linkAccordion ul {
  margin-bottom: 0;
  padding-left: 20px;
  list-style: none;
}

#linkAccordion ul li a {
  line-height: 2.5rem;
}

i.lg {
  font-size: 3.5rem;
  padding-bottom: 1rem;
  color: #ed5485;
}

.btn {
  padding: 0.5rem 1rem;
}

.border-accent {
  display: block;
  width: fit-content;
  border-bottom: 6px solid #ed5485;
}

.jumbotron {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0;
  color: white;
}

.jumbotron .container {
  padding: 100px 0 60px 20px;
}

.jumbotron .display-3 {
  color: white;
  font-weight: 800;
}

.btn-primary {
  background-color: #ed5485;
  border-color: #ed5485;
}

.btn-primary:hover {
  background-color: rgb(197, 0, 66);
  border-color: rgb(197, 0, 66);
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: rgb(197, 0, 66);
  border-color: rgb(197, 0, 66);
}

.btn-primary:focus {
  background-color: rgb(197, 0, 66);
  border-color: rgb(197, 0, 66);
}

.btn-secondary {
  background-color: #ed5485;
  border-color: #ed5485;
}

.btn-secondary:hover {
  background-color: #bb194c;
  border-color: #bb194c;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #bb194c;
  border-color: #bb194c;
}

.btn-secondary:focus {
  background-color: #bb194c;
  border-color: #bb194c;
}

.font-weight-bold {
  font-weight: 400 !important;
}

.alert-secondary {
  background: rgb(233, 64, 120);
  background: linear-gradient(
    0deg,
    rgba(233, 64, 120, 1) 11%,
    rgba(236, 39, 74, 1) 100%
  );
  border-color: #ed5485;
  color: white;
}

.alert-secondary hr {
  border-top-color: white;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.welcome_calendar {
  display: block;
  margin: 0 auto 60px auto;
  width: 100%;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

iframe.calendar {
  width: 100%;
  min-width: 300px;
  height: 500px;
}

.github-profile .card-text {
  word-break: break-all;
}

@media (max-width: 767px) {
  .github-profile .card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .jumbotron .display-3 {
    padding-bottom: 20px;
  }

  .sponsor-wrapper {
    flex-wrap: wrap;
  }
}

@media (max-width: 1250px) {
  .intro-text {
    padding: 10px;
    background-color: #0000004b;
    border-radius: 0.25rem;
  }
}

/* -------------------------Webチームページ用のスタイルここから------------------------- */
.subpage {
  h1 {
    margin: 2rem auto;
    width: fit-content;
    text-align: center;
    &::after {
      content: "";
      background-color: #e7335d;
      display: block;
      height: 3px;
      width: 20rem;
	  margin-top: 1rem;
    }
  }
  h2 {
    margin-bottom: 20px;
    &::before {
      content: "";
      border-left: 5px solid #ed5485;
      padding-left: 1rem;
    }
  }
  h3 {
    margin-bottom: 2rem;
    border-bottom: 1px solid #c9c9c9;
  }
  img,
  a {
    display: block;
  }
}
/* -------------------------Webチームページ用のスタイルここまで------------------------- */
